<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="style.css">
    <!-- External Script -->
    <script src="script.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <br>
        <h1>Heart Disease Predictor</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="predictor.html">Predictor</a></li>
            <li><a class="active" href="contact.html">Contact</a></li>
        </ul>
    </header>
    <!-- Load external JavaScript -->
    <h2>Made by Anjay Kumar</h2>
    <center>
    <p>Email me at anjaykum09@gmail.com if you have any questions</p>
    </center>
</body>
</html>