<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="style.css">
    <!-- External Script -->
    <script src="script.js"></script>
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" 
</head>
<body>
    <header>
        <br>
        <h1>Heart Disease Predictor</h1>
        <ul>
            <li><a href={{ url_for("index") }}>Home</a></li>
            <li><a href={{ url_for("predictor") }}>Predictor</a></li>
            <li><a class="active" href={{ url_for("contact") }}>Contact</a></li>
        </ul>
    </header>
    <!-- Load external JavaScript -->
    <h2>Made by Anjay Kumar</h2>
    <center>
    <p>Use this Google form or email me at anjaykum09@gmail.com if you have any questions, comments, or suggestions</p>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdJ86hxNKS5apC-Atp5vIn3tXpw_4cziGSGVaURtZ29NIfYIw/viewform?embedded=true" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </center>
</body>
</html>