<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="style.css">
    <!-- External Script -->
    <script src="script.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <br>
        <h1>Heart Disease Predictor</h1>
        <ul>
            <li><a class="active" href="index.html">Home</a></li>
            <li><a href="predictor.html">Predictor</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </header>
<h2>Directions and How It Works</h2>
<p>The purpose of this web application is finding the percentage of chance you have heart disease. With the use of this <a href="https://www.kaggle.com/datasets/johnsmith88/heart-disease-dataset/" target="_blank">dataset</a>, this website analyzes the factors of heart disease such as age, sex, chest pain type, blood pressure, and the maximum heart rate that has been achieved.
    <br><br>
    How it works is you (the user) have to input the corresponding values and select a checklist of possible symptoms. Then the data gets sent to the Python backend of the project and analyzes these factors with the data set using decision trees, logistic regression, and linear (multi and singular) regression to analyze the data. Then the backend part of the project sends back the liklihood that you have heart disease in percent form. 
    The web application will also give a possibility of what type of heart disease it could be. <br> <br> REMEMBER THAT THIS PREDICTOR IS NOT FULLY ACCURATE AND COULD BE WRONG. A DOCTOR'S INSIGHT WILL ALWAYS BE RIGHT OVER THE RESULTS OF THIS PREDICTOR.
</p>

</body>
</html>