<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="style.css">
    <!-- External Script -->
    <script src="script.js"></script>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" 
</head>
<body>
    <header>
        <br>
        <h1>Heart Disease Predictor</h1>
        <ul>
            <li><a class="active" href={{ url_for("index") }}>Home</a></li>
            <li><a href={{ url_for("predictor") }}>Predictor</a></li>
            <li><a href={{ url_for("contact") }}>Contact</a></li>
        </ul>
    </header>
<h2>Directions and How It Works</h2>
<p>The purpose of this web application is finding the percentage of chance you have heart disease. With the use of this <a href="https://www.kaggle.com/datasets/johnsmith88/heart-disease-dataset/" target="_blank">dataset</a>, this website analyzes the factors of heart disease such as age, sex, chest pain type, resting blood pressure, and total cholesterol level that has been achieved. Logistic regression is used to calculate the effects of age and sex. Linear regression is used to calculate the effects of cholesterol levels and blood pressure. Decision trees are used to decide if you do have heart disease by analyzing all five factors. Then, using your chest pain level, cholesterol level, and blood pressure, the type of heart diseases you may have are given to you.
    <br><br>
    How it works is you (the user) have to input the corresponding values and select a checklist of possible symptoms. Then the data gets sent to the Python backend of the project and analyzes these factors with the data set using decision trees, logistic regression, and linear (multi and singular) regression to analyze the data. Then the backend part of the project sends back the liklihood that you have heart disease in percent form. 
    The web application will also give a possibility of what type of heart disease it could be. <br> <br> REMEMBER THAT THIS PREDICTOR IS NOT FULLY ACCURATE AND IS JUST A PREDICTION. A DOCTOR'S INSIGHT MIGHT CONTRADICT WITH THE RESULTS OF THE PROGRAM. A DOCTER'S INSIGHT WILL ALWAYS BE CORRECT.
</p>

</body>
</html>