<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="style.css">
    <!-- External Script -->
    <script src="script.js"></script>
    <title>Predictor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" 

</head>
<body>
    <header>
        <br>
        <h1>Heart Disease Predictor</h1>
        <ul>
            <li><a href={{ url_for("index") }}>Home</a></li>
            <li><a class="active" href={{ url_for("predictor") }}>Predictor</a></li>
            <li><a href={{ url_for("contact") }}>Contact</a></li>
        </ul>
    </header>
    <br>
    <!-- Load external JavaScript -->
    <form method = "POST">
        <label for="age">Enter your age:</label>
        <input type="number" id="age" name="age" min="0" max="125" required>
        <br>

        <p>What is your gender?</p>
        <input type="radio" name="gender" id = "gender" value="male" required="required"> Male
        <input type="radio" name="gender" id = "gender" value="female"> Female
        
        <br>
        <br>
        
        <label for="age">Enter your serum or total cholesterol level (in mg/dL):</label>
        <input type="number" id="chol" name="chol" min="0" max="500" required>
        
        <br>
        
        <p>What's your chest pain type?</p>
        <input type="radio" name="cp" id="cp" value="0" required="required"> Type 1: Typical Angina  (Chest, arm, or jaw pain that feels dull, heavy, tight, or crushing) <br>
        <input type="radio" name="cp" id="cp" value="1"> Type 2: Atypical Angina (Epigastric or back pain, burning/stabbing feeling, or indigestion) <br>
        <input type="radio" name="cp" id="cp" value="2"> Type 3: Non-Anginal Pain (Heartburn, regurgitation, pressure or squeezing pain behind the breast bone, neck, back, or left arm ) <br>
        <input type="radio" name="cp" id="cp" value="3"> Type 4: Asymptomatic (No Pain or None of the ones described above)
        
        <br>
        <br>
        
        <label for="bp">Enter your resting blood pressure (systolic) (in mmHg):</label>
        <input type="number" id="bp" name="bp" min="" max="220" required>
        
        <br>
        <br>

        <input type="Submit" value="Submit">
    </form>

</body>
</html>